<header>
    <img 
        src="assets/img/Jocxx.jpg"
        alt="João - Foto de Perfil"
        width="131px"
        height="130px"
        loading="eager"
    />
    <h1>João Marcelo</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack | Angular | NodeJs | React</p>
        <p>Olinda, Pernambuco, Brasil</p>
        <p>Estudante focado em Front-end, em busca de excelência profissional. Comprometido com aprendizado contínuo e ansioso por desafios, viso contribuir para projetos significativos enquanto continuo aprimorando minhas habilidades.
        </p>

    <nav>
        <ul>
            <li>
                <a href="" target="_blank" class="btn btn-primary">
                    Dowload Cv -ATUALIZANDO-
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/joão-marcelo-cavalcanti-monteiro-2b7027251/" target="_blank" class="btn btn-secondary">
                    LinkdIn
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="Icone para contato do Whatsapp" width="24px" height="24px">  
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5581xxxxxxxxx&text=Olá%20João,%20preciso%20de%20um%20job!" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>Whatsapp: (81) x xxxx-xxxx</p>
                </a>
            </figcaption>
        </figure>

        <figure>
            <img src="assets/icons/mail.svg" alt="Icone para contato do E-mail" width="24px" height="24px">  
            <figcaption>
                <a href="mailto:joaomcavalcanti.jmcm@gmail.com" target="_blank">
                    <strong>Envie e-mail para:</strong>
                    <p>joaomcavalcanti.jmcm&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>
    </div>
</aside>